*.DS_Store

*/.DS_Store

medialog/nidelventheme/skins/.DS_Store

Paste-*

*.pyc

PasteDeploy-1.5.0-py2.7.egg/

*/EGG-INFO/
PasteScript-1.7.5-py2.7.egg
PasteScript-1.7.5-py2.7.egg/


medialog.nidelventheme.egg-info*
medialog.nidelventheme.egg-info/PKG-INFO


PasteScript-1.7.5-py2.6.egg 

PasteScript-1.7.5-py2.6.egg/
PasteDeploy-1.5.0-py2.6.egg/
PasteDeploy-1.5.0-py2.6.egg

*.pyc


medialog/nidelventheme/browser/nidelven_colophon (g4s-power-mac-g5-87's conflicted copy 2013-04-03).pt

*.pyc
